.global_chat_container {
  height: 0;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  overflow: visible;
  display: flex;
  flex-direction: row-reverse;
  /* flex-wrap: nowrap; */
  align-items: flex-end;
}
