.calc_card {
  background: #f8f8f8;
  border-radius: 9px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 1rem 0.65rem;
  max-width: 250px;
  flex: 1;
  flex-shrink: 0;
  display: flex;
  min-height: 320px;
  flex-direction: column;

  @media (max-width: 767px) {
    max-width: 100%;
    flex: 0 0 100%;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 700;
    color: #303030;
    margin-bottom: 12px;
  }
  p {
    font-size: 0.9rem;
    font-weight: 400;
    color: #303030;
    line-height: 1.4;
    margin-bottom: 0.75rem;
  }
  .button_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;
    button {
      border-radius: 5px;
      width: 2.5rem;
      height: 2.5rem;
      display: inline-grid;
      place-items: center;
      font-size: 1.25rem;
      outline: none;
      transition: 0.3s ease-in-out;
      border: 2px solid #5e8bea;
      color: #5e8bea;
      &:disabled {
        background: #d9d9d9;
        border: 2px solid #a6a6a6;
        color: #535353;
      }
    }
    span {
      display: inline-grid;
      place-items: center;
      background: #ffffff;
      border-radius: 3px;
      font-size: 1.125rem;
      color: #303030;
      width: 3rem;
      height: 3rem;
    }
  }
  h4 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #303030;
    margin-bottom: 0.75rem;
    del {
      font-weight: 300;
      margin-left: 4px;
    }
    span {
      display: block;
      font-size: 1rem;
      font-weight: 400;
      margin-top: 4px;
    }
  }

  .add_to_cart_btn {
    flex: 1;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    button {
      border: 0;
      padding: 0;
      outline: none;
      color: #3b86ff;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1;
      background: transparent;
      &.added {
        span {
          display: inline-flex;
          align-items: center;
          gap: 6px;
          color: #000;
        }
      }
    }
  }
}
