.search_bar {
  border: 1px solid #ccc !important;
  border-radius: 4px;
  height: 46px;
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;
  }

  input {
    border: 0;
    height: 36px;
    &:focus {
      box-shadow: none;
      // border: solid 1px var(--dark-mint);
    }
  }
  input::-webkit-input-placeholder {
    font-size: 14px;
  }

  input:-ms-input-placeholder {
    font-size: 14px;
  }

  input::-ms-input-placeholder {
    font-size: 14px;
  }

  input::-moz-placeholder {
    font-size: 14px;
  }

  input::placeholder {
    font-size: 14px;
  }
  button {
    background: transparent;
    border: 0;
    &:focus {
      border: 0;
      outline: none;
    }
  }
}
