.tagPopoverBox {
  border: 0;
  background: transparent;
  left: 68px !important;
  right: 0 !important;
  margin: 0px 0 0 !important;
  max-width: 160px;
  .tagName {
    display: inline-block;
    &.yellow {
      background-color: #ffa700;
    }
    &.green {
      background-color: #00cf2e;
    }
    &.red {
      background-color: #ff7473;
    }
  }
}
.channel_header {
  padding: 8px 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid #e3e3e3;
  .channel_profile {
    .profile_avatar {
      width: 35px;
      height: 35px;
      overflow: hidden;
      margin-right: 3px;
    }
    h5 {
      font-size: 16px;
      line-height: normal;
      margin-top: 2px;
      white-space: nowrap;
      overflow: hidden;
      width: fit-content;
      max-width: 160px;
      text-overflow: ellipsis;
      &:hover {
        color: var(--dark-mint);
      }
    }
    .active_status {
      line-height: normal;
    }

    .taging {
      top: 34px;
      left: 33px;
      .status {
        width: 18px;
        height: 18px;
      }
    }
  }
}
.header_action {
  z-index: 2;
  position: absolute;
  right: 15px;
  top: 13px;
  .unread_status {
    border-radius: 6px;
    background-color: #f5a248;
    color: #534f4f;
    padding: 3px 6px 2px;
    display: block;
    font-size: 14px;
  }
  .close_chat {
    width: 30px;
    height: 30px;
    &:hover {
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
  .dropdown_list {
    > button {
      background-color: transparent;
      border: 0;
      width: 30px;
      height: 30px;
      &:hover {
        border-radius: 50% !important;
        background-color: rgba(0, 0, 0, 0.08);
      }

      &:focus {
        box-shadow: none;
      }
    }
    > button[aria-expanded="true"] {
      border-radius: 50% !important;
      background-color: rgba(0, 0, 0, 0.08);
    }
    .dropdown_menu {
      left: auto !important;
      right: 0;
      min-width: 200px;
      ul {
        li {
          padding: 0 8px;
          &:hover {
            background-color: rgba(0, 0, 0, 0.08);
          }
          span {
            transform: translateY(1px);
            padding-left: 2px;
          }
        }
      }
    }
  }
}
