.no_credit_alert {
  background: #ffab00;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 14px;
  border-radius: 5px;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  color: #242429;
  animation: fadeIn 1s;
  position: absolute;
  left: 0rem;
  right: 0;
  top: -4px;
  margin: 0 auto;
  @media (max-width: 767.98px) {
    position: unset;
  }
  a {
    font-weight: 600;
    text-decoration: underline !important;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
