.empty_plan {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  // padding-top: 2rem;
  justify-content: center;
  h3 {
    color: #535353;
  }
  p {
    color: #a4a4a4;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 auto;
    @media (max-width: 767.98px) {
      max-width: 80%;
    }
  }
}
