.billing_header {
  button {
    border: 0;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #242429;
    background: transparent;
    outline: none;
    padding-left: 0;
  }
}
