.candidates_list {
  height: calc(100vh - 400px);
  overflow-y: auto;

  @media (max-width: 767px) {
    height: calc(100vh - 385px);
  }

  &.pending_list {
    height: calc(100vh - 320px);

    @media (max-width: 767px) {
      height: calc(100vh - 310px);
    }
  }

  &.booked_list {
    height: calc(100vh - 320px);

    @media (max-width: 767px) {
      height: calc(100vh - 310px);
    }
  }

  .candidates_wrap {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-radius: 5px;
    transition: 0.3s ease-in-out;

    &:hover {
      background: #f2f2f2;
    }

    .checkbox_wrap {
      padding: 10px;
      height: 20px;
      width: 20px;
      z-index: 1;

      > span {
        border: 1px solid #a4a4a4;
      }

      input:checked ~ span {
        background: #3bd55a;
        border-color: #3bd55a;

        &::after {
          border-color: #164520;
        }
      }
    }

    .img_wrap {
      flex-shrink: 0;

      img {
        width: 4.75rem;
        height: 4.75rem;
        object-fit: cover;
        border-radius: 50%;

        @media (max-width: 767px) {
          width: 4rem;
          height: 4rem;
        }
      }
    }

    .content {
      width: 100%;
      padding-left: 0.25rem;

      h2 {
        font-size: 1.125rem;
        font-weight: 700;
        color: #242429;
        margin: 0;
        display: flex;
        align-items: flex-start;
        width: 100%;
        gap: 0.75rem;

        @media (max-width: 1440px) {
          font-size: 1rem;
        }

        .status {
          display: inline-flex;
          padding: 3px 10px;
          color: #ff5e53;
          font-size: 0.75rem;
          font-weight: 400;
          border-radius: 50px;
          background: #ff5e531a;
        }
      }

      .rating {
        display: flex;
        gap: 2px;

        span {
          margin-right: 5px;
        }

        img {
          width: 20px;

          @media (max-width: 1440px) {
            width: 18px;
          }
        }
      }

      span {
        display: block;
        font-weight: 400;
        font-size: 1rem;
        color: #5e5e5e;

        @media (max-width: 1440px) {
          font-size: 0.875rem;
        }
      }
    }

    // +.candidates_wrap {
    //     margin-top: 2px;
    // }
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
