.close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.modal_verification {
  > div {
    @media (min-width: 768px) {
      min-height: calc(100vh - 60px);
    }
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
  }
  .shimmer_load {
    width: 94px;
    margin: 0 auto 30px;
    padding: 10px 10px 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    position: relative;
    .compnay_img {
      img {
        max-height: 23px;
        max-width: 100%;
      }
    }
    .shild_icon {
      position: absolute;
      bottom: -12px;
      right: -12px;
    }
    > span {
      border-radius: 4px;
      background-color: #e2e2e2;
      height: 6px;
      width: 100%;
      display: block;
      margin: 13px 0 0;
      &.seventy {
        width: 70%;
      }
      &.eighty {
        width: 80%;
      }
    }
  }
}
