.control_room {
  border: 1px solid #5e5e5e;
  border-radius: 4px;
  padding: 3px 4px;
  margin-left: auto;
  margin-top: -3px;
  height: 30px;
  .heading {
    display: inline-block;
    color: #a4a4a4;
  }
  .phone_number {
    display: inline-block;
    color: #ffffff;
    margin-left: 15px;
    font-weight: 500;
  }
}
